{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
  },
  "rules": {
    "arrow-body-style": 0,
    "no-console": 0,
    "func-names": 0,
  }
}
